<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="manifest" href="{{ asset('css/style.css') }}">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">

    {% block socials %}
        <meta property="og:title" content="">
        <meta property="og:description" name="description" content="">
        <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path('home') }}">
        <meta property="og:site_name" content="LolFindYou">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="{{ app.request.locale }}_{{ app.request.locale|upper }}">
        <meta name="twitter:card" content="summary_large_image">
    {% endblock %}

    <link rel="author" href="https://nostools.cz">

    <title>LolFindYou - {% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/menu/menu.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
</head>
<body>

{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
