<header>
    <nav class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">Homepage</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_route') == 'find_homepage' %}active{% endif %}">
                        <a href="{{ path('find_homepage') }}">Find summoners</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') == 'champions_homepage' %}active{% endif %}">
                        <a href="{{ path('champions_homepage') }}">Champions</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user ? app.user.nickname }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('settings_changepassword') }}">Settings</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin') }}" target="_blank">Admin panel</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="{% if app.request.attributes.get('_route') == 'user_register' %}active{% endif %}">
                            <a href="{{ path('user_register') }}">Register</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'login' %}active{% endif %}">
                            <a href="{{ path('security_login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>